<%
    const {
        items,
        error,
        campaign,
        action
    } = locals;
    const when = (condition, text) => condition ? text : '';
    const lines = [...Array(items).keys()].map(i => ({
        name: 'Product SKU Name 商品SKU名',
        href: '#/product/sku',
        icon: 'https://httpstat.us/404',
        alt: 'SKUサムネ',
        unitPrice: 1000,
        unitTax: 100,
        qty: 2,
        linePrice: campaign ? 1760 : 2200,
        tax: campaign ? 160 : 200,
        discountPrice: campaign ? 2200 - 1760 : 0,
        point: campaign ? 16 : 20,
        error: error && i == 1
    }))
%>
<table class="table">
    <thead>
        <tr>
            <th colspan="2">商品</th>
            <th>個数</th>
            <th>小計</th>
        </tr>
    </thead>
    <tbody>
        <% for (let o of lines) { %>
            <tr>
                <td align="center">
                    <a href="<%= o.href %>" class="product-icon">
                        <div class="image image-square">
                            <img src="<%= o.icon %>" alt="<%= o.alt %>">
                        </div>
                    </a>
                </td>
                <td align="center">
                    <dl>
                        <dt><a href="<%= o.href %>"><%= o.name %></a></dt>
                        <dd>
                            <% if (campaign) { %>
                                <%- include('price', {
                                    price: o.unitPrice+o.unitTax,
                                    tax: 'include',
                                    yenMark: true,
                                    del: true
                                }) %><br>
                            <% } %>
                            <%- include('price', {
                                price: o.unitPrice+o.unitTax - o.discountPrice / o.qty,
                                tax: 'include',
                                yenMark: true,
                            }) %>
                            <%- include('price', {
                                price: o.point / o.qty,
                                unit: 'point',
                            }) %>
                            <% if (action) { %>
                                <%- include('button', { 
                                    color: o.error ? 'danger' : 'primary',
                                    style: o.error ? '' : 'text',
                                    size: 'small',
                                    label: 'カートから削除'
                                }) %>
                            <% } %>
                        </dd>
                    </dl>
                </td>
                <td data-title="個数">
                    <% if (o.error) { %>
                        <span>在庫切れ</span>
                    <% } else if (action) { %>
                        <select>
                            <option value="1">1</option>
                            <option value="2" selected>2</option>
                            <option value="10">10</option>
                        </select>
                    <% } else { %>
                        <span><%= o.qty %></span>
                    <% } %>
                </td>
                <td data-title="小計">
                    <%- include('price', {
                        price: o.linePrice,
                        tax: 'include',
                        yenMark: true,
                        attention: campaign,
                    }) %>
                    <%- include('price', {
                        price: o.point,
                        unit: 'point',
                    }) %>
                    <% if (campaign) { %>
                        <br>(
                        <%- include('price', {
                            price: o.discountPrice,
                            yenMark: true,
                        }) %>値引き)
                    <% } %>
                </td>
            </tr>
        <% } %>
    </tbody>
    <tfooter>
        <tr>
            <th colspan="3">合計</th>
            <td align="center">
                <span class="text-nowrap">
                    <%- include('price', {
                        price: lines.reduce((total, line) => total += line.linePrice, 0),
                        tax: 'include',
                        yenMark: true,
                        attention: campaign,
                        large: true,
                        strong: true,
                    }) %>
                </span>
                <%- include('price', {
                    price: lines.reduce((total, line) => total += line.point, 0),
                    unit: 'point',
                }) %>   
                <% if (campaign) { %>
                    <br>(
                    <%- include('price', {
                        price: lines.reduce((total, line) => total += line.discountPrice, 0),
                        yenMark: true,
                    }) %>値引き)
                <% } %>
            </td>
        </tr>
        <% if (campaign) { %>
            <tr>
                <th colspan="3">適用キャンペーン</th>
                <td align="center">
                    <ul>
                        <li>夏の大感謝祭全品2割引</li>
                        <li>夏の大感謝祭お買い物特典</li>
                    </ul>
                </td>
            </tr>
        <% } %>
    </tfooter>
</table>