@{
    var address = Page.ViewData.Model as Address;
}
<dl class="field">
    <dt class="field-title">氏名</dt>
    <dd class="field-body">
        <p class="field-text">@address.Recipientlastname @address.Recipientfirstname</p>

    </dd>
</dl>
<dl class="field">
    <dt class="field-title">フリガナ</dt>
    <dd class="field-body">
        <p class="field-text">@address.Recipientlastnamekana @address.Recipientfirstnamekana</p>
    </dd>
</dl>
<dl class="field">
    <dt class="field-title">住所</dt>
    <dd class="field-body">
        <p class="field-text">@address.ToString()</p>
    </dd>
</dl>
<dl class="field">
    <dt class="field-title">電話番号</dt>
    <dd class="field-body">
        <p class="field-text">@address.Tel</p>
    </dd>
</dl>
