@{
    var address = (Page.ViewData.Model as Address) ?? new Address();
    if (Page.ViewData.Model is VM.AccountAddress accountAddress) {
        address.ZipCode = accountAddress.ZipCode;
        address.Pref = accountAddress.Pref;
        address.City = accountAddress.City;
        address.Street = accountAddress.Street;
        address.Building = accountAddress.Building;
        address.Tel = accountAddress.Tel;
    }
    var target = string.Format("{0}.", Page.ViewData["target"]);
    var prefix = string.Format("{0}_", Page.ViewData["target"]);
    var command = string.Format("{0}", Page.ViewData["command"]);
    var commandUrl = Page.ViewData["commandUrl"];
    var commandMethod = "ic-" + (Page.ViewData["commandMethod"] as string ?? "post") + "-to";
    var hideName = Page.ViewData["hideName"] as bool?  == true;
}
@if (!hideName) {
<dl class="field required">
    <dt class="field-title">氏名</dt>
    <dd class="field-body">
        <p class="field-text">@address.Recipientlastname @address.Recipientfirstname</p>
    </dd>
</dl>
<dl class="field required">
    <dt class="field-title">フリガナ</dt>
    <dd class="field-body">
        <p class="field-text">@address.Recipientlastnamekana @address.Recipientfirstnamekana</p>
    </dd>
</dl>
}
<dl class="field required">
    <dt class="field-title">郵便番号</dt>
    <dd class="field-body">
        <div class="field-group">
            @Page.Html.TextBox(target + "ZipCode", address.ZipCode, new {
                type = "tel",
                placeholder = "例）1234567",
                @maxlength = "7",
                size = "7",
                data_val = "true",
                data_val_required = "郵便番号は必須項目です。",
            })
            <button type="button" class="btn" @(commandMethod)="@commandUrl" ic-target="#@(prefix)zipsearch" ic-include='{"@command":"@command"}'>検索</button>
        </div>
        <div id="@(prefix)zipsearch"></div>
        @ValidationMessageFor(target + "ZipCode")
    </dd>
</dl>
<dl class="field required">
    <dt class="field-title">都道府県</dt>
    <dd class="field-body">
        @Page.Html.TextBox(target + "Pref", address.Pref, new {
            placeholder = "郵便番号検索で自動的に挿入されます。",
            @readonly = "readonly",
            data_val = "true",
            data_val_required = "都道府県は必須項目です。",
        })
        @ValidationMessageFor(target + "Pref")
    </dd>
</dl>
<dl class="field required">
    <dt class="field-title">市区町村</dt>
    <dd class="field-body">
        @Page.Html.TextBox(target + "City", address.City, new {
            placeholder = "郵便番号検索で自動的に挿入されます。",
            @readonly = "readonly",
            data_val = "true",
            data_val_required = "市区町村は必須項目です。",
        })
        @ValidationMessageFor(target + "City")
    </dd>
</dl>
<dl class="field required">
    <dt class="field-title">通り・丁番地</dt>
    <dd class="field-body">
        @Page.Html.TextBox(target + "Street", address.Street, new {
            placeholder = "例）○○町１－２－３",
            ic_action = "toZenkaku;validateForce",
            ic_trigger_on = "focusout",
            data_val = "true",
            data_val_required = "通り・丁番地は必須項目です。番地がない場合は「無番地」とご記入ください。",
            data_val_length = "通り・丁番地は128文字以内でご入力ください。",
            data_val_length_maxlength = "128",
            data_val_regex = "通り・丁番地はひらがな、カタカタ、漢字、全角英数字、全角スペース、－―ー‐ヽヾゝゞ〃仝々〆〇＆（） のみ使用可能です。",
            data_val_regex_pattern = "^[\u3040-\u30FF|\u4E00-\u9FFF|０-９Ａ-Ｚａ-ｚ|－|―|ー|‐|ヽ|ヾ|ゝ|ゞ|〃|仝|々|〆|〇|　|＆|（|）]+$"
        })
        @ValidationMessageFor(target + "Street")
    </dd>
</dl>
<dl class="field">
    <dt class="field-title">建物名・部屋番号</dt>
    <dd class="field-body">
        @Page.Html.TextBox(target + "Building", address.Building, new {
            placeholder = "例）〇〇マンション　１０１",
            ic_action = "toZenkaku;validateForce",
            ic_trigger_on = "focusout",
            data_val = "true",
            data_val_length = "建物名・部屋番号は128文字以内でご入力ください。",
            data_val_length_maxlength = "128",
            data_val_regex = "建物名・部屋番号はひらがな、カタカタ、漢字、全角英数字、全角スペース、－―ー‐ヽヾゝゞ〃仝々〆〇＆（） のみ使用可能です。",
            data_val_regex_pattern = "^[\u3040-\u30FF|\u4E00-\u9FFF|０-９Ａ-Ｚａ-ｚ|－|―|ー|‐|ヽ|ヾ|ゝ|ゞ|〃|仝|々|〆|〇|　|＆|（|）]+$"
        })
        @ValidationMessageFor(target + "Building")
    </dd>
</dl>
<dl class="field required">
    <dt class="field-title">電話番号</dt>
    <dd class="field-body">
        @Page.Html.TextBox(target + "Tel", address.Tel, new {
            placeholder = "例）09012345678",
            @maxlength = "11",
            size = "11",
            data_val = "true",
            data_val_required = "電話番号は必須項目です。",
        })
        @ValidationMessageFor(target + "Tel")
    </dd>
</dl>
