@{
    var controller = (string)Page.Request.RequestContext.RouteData.Values["controller"];
    var action = (string)Page.Request.RequestContext.RouteData.Values["action"];
}
<hr class="pc-hide">
<nav>
    <h1 class="h-title text-center">会員メニュー</h1>
    <ul class="menu">
        <li class="menu-item @when(controller=="Member" && action=="Index", "active")">
            <a href="@MyPageUrl()" >会員情報</a>
        </li>
        <li class="menu-item @when(controller=="Member" && action=="Point", "active")">
            <a href="@PointUrl()">ポイント</a>
        </li>
        <li class="menu-item @when(controller=="Order" && action=="History", "active")">
            <a href="@HistoryUrl()">購入履歴</a>
        </li>
        <li class="menu-item @when(controller=="Member" && action=="Addresses", "active")">
            <a href="@AddressUrl()">お届け先</a>
        </li>
        <li class="menu-item @when(controller=="Member" && action=="Favorites", "active")">
            <a href="@FavoriteUrl()">お気に入り</a>
        </li>
        <li class="menu-item @when(controller=="Member" && action=="Notices", "active")">
            <a href="@ReserveUrl()">次回入荷予約</a>
        </li>
        @if (Page.Template.UserIsInRole("Preview")) {
            <li class="menu-item"><a href="@Resolve("/preview/")">プレビュー</a></li>
        }
    </ul>
</nav>