@{
      var cart = Page.ViewData.Model as CancelCart; 
    
    var pointFixed = new List<OrderStatus>{OrderStatus.Arrival,OrderStatus.Booked};
    var isGuest = cart.OrderCustomer.IsGuest;
      var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages;

    ViewBag.PageTitle = "注文キャンセル";
}
<main class="section content">
    <h1 class="h-underline">注文キャンセル</h1>
    @DisplayViewMessages(viewData)
    <form action="@Page.Url.RouteUrl("ModdDefault", new { controller="Order", action="History", id=cart.OrderId})" method="post">
        @Page.Html.HttpMethodOverride("delete")
        @Page.Html.SessionAntiForgeryToken()
        @Page.Html.PartialEx("ModdSharedCartItems", cart, new { action=false })
        @if(cart.CanCancel) {
            <div class="message-box text-center">
                @if(!isGuest){
                    <p class="message">還元ポイントの @FormatPoint(cart.ChargePointSummary) ポイントを無効にします。</p>
                }
                <p class="message">よろしければ「キャンセルする」ボタンを押してください。注文のキャンセルが完了します。</p>
            </div>
        }
        <div class="block block-vertical">
            @if(cart.CanCancel){
                <button type="submit" name="commit" value="commit" class="btn btn-danger btn-text">キャンセルする</button>
            }
            else {
                <button type="button" class="btn btn-danger btn-text" disabled>この注文はキャンセル出来ません</button>
            }
            <a href="@Page.Url.RouteUrl("ModdDefault", new { controller="Order", action="History", id=cart.OrderId})" class="btn btn-default btn-prev">注文詳細へもどる</a>
        </div>
    </form>
</main>
