@{
    var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages;
    var payment = Page.ViewData.Model as VM.HistoryPayment;

    var paymentMethods = new [] {
        new SelectListItem  { Text = PaymentMethodText[PaymentMethod.CashOnDelivery], Value = "CashOnDelivery", Selected = payment.PaymentMethod == PaymentMethod.CashOnDelivery },
        new SelectListItem  { Text = PaymentMethodText[PaymentMethod.Offsite], Value = "Offsite", Selected = payment.PaymentMethod == PaymentMethod.Offsite },
        // new SelectListItem  { Text = PaymentMethodText[PaymentMethod.External], Value = "External", Selected = payment.PaymentMethod == PaymentMethod.External }, 外部決済には変更できない。
    }.Where(pm => payment.Cart.UsablePaymentMethod.Any(upm => upm.ToString() == pm.Value));

    ViewBag.MetaTitle = "注文編集 - お支払い方法";
}
<main class="section content">
    <h1 class="h-underline">注文編集 - お支払い方法</h1>
    @DisplayViewMessages(viewData)
    <form action="@HistoryUrl(payment.Cart.OrderId)" method="post">
        @Page.Html.HttpMethodOverride("put")
        <dl class="field required">
            <dt class="field-title">決済方法</dt>
            <dd class="field-body">
                @Page.Html.DropDownList("PaymentMethod", paymentMethods, "--選択してください--", new {
                    ic_action="changePaymentDetail;openAccordion;",
                    data_val = "true",
                    data_val_required = "決済方法は必須項目です。",
                })
                @Page.Html.Hidden("OrderCustomer.PaymentDetail", payment.OrderCustomer.PaymentDetail, new {
                    data_cashondelivery = "",
                    data_offsite = "",
                    data_external = "gmopg",
                })
                @ValidationMessageFor("PaymentMethod")
                <p class="field-note hide" data-accordion="CashOnDelivery">商品到着時に『商品代金』 ＋ 『荷造り送料』をお支払いください。<br>代金引換でのご注文の場合は、手数料一律330円(税込)がかかります。</p>
                <p class="field-note hide" data-accordion="Offsite">振込先銀行口座は注文確定メールにてお知らせいたします。</p>
            </dd>
        </dl>
        <div class="block block-vertical">
            <button type="submit" class="btn btn-action btn-large btn-next" name="payment" value="put">お支払い方法を変更</button>
            <a href="@HistoryUrl(payment.Cart.OrderId)" class="btn btn-primary btn-text btn-prev">注文詳細へもどる</a>
        </div>
    </form>
</main>
