@{
    var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages;

    if (!ViewBag.IsDev) {
        var token = viewData.Messages.FirstOrDefault(code => code.StartsWith("Activate.Token"));
        if (token != null) {
            viewData.Messages.Remove(token);
        }
    }

    ViewBag.MetaTitle = "認証メール再送信";
}
<main class="section content">
    <h1 class="h-underline">認証メール再送信</h1>
    @DisplayViewMessages(viewData)
    <form action="@ActivateUrl()" method="post">
        @Page.Html.SessionAntiForgeryToken()
        <dl class="field">
            <dt class="field-title">メールアドレス</dt>
            <dd class="field-body">
                <input type="text" name="UserName" 
                    data-val="true"
                    data-val-required="メールアドレスは必須項目です。" 
                    data-val-email="メールアドレスをご入力ください。">
                @ValidationMessageFor("UserName")
            </dd>
        </dl>
        <div class="block">
            <button type="submit" name="request" value="post" class="btn btn-primary btn-next" data-cb-recaptcha="trigger">認証メールを再送信する</button>
        </div>
        <input type="hidden" name="CAPTCHA" data-cb-recaptcha="token">
    </form>
</main>
@section ScriptBlock {
    @Page.Template.RecaptchaRenderInclude("Site/Activate/Request")
}
