@{
    var general = Page.ViewData.Model as Commerble.Sandbox.Services.ViewModels.Contact;
    var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages;
    ViewBag.MetaTitle = "お問い合わせ - 内容確認";
}
<main class="section content">
    <h1 class="h-underline">お問い合わせ - 内容確認</h1>
    @DisplayViewMessages(viewData)
    <form action="@InquiryUrl("contact")" method="post">
        @Raw(Page.Html.ModelToObjectState("model",general))
        @Page.Html.SessionAntiForgeryToken()
        <dl class="field">
            <dt class="field-title">氏名</dt>
            <dd class="field-body">
                <p class="field-note">@(general.LastName + general.FirstName)</p>
            </dd>
        </dl>
        <dl class="field">
            <dt class="field-title">メールアドレス</dt>
            <dd class="field-body">
                <p class="field-note">@general.CustomerEmail</p>
            </dd>
        </dl>
        <dl class="field">
            <dt class="field-title">注文番号</dt>
            <dd class="field-body">
                <p class="field-note">@(general.OrderId ?? "未入力")</p>
            </dd>
        </dl>
        <dl class="field">
            <dt class="field-title">お問い合わせ内容</dt>
            <dd class="field-body">
                <p class="field-note">@foreach(var line in general.Text.Split('\n')) { <text>@line</text><br> }</p>
            </dd>
        </dl>
        <div class="block block-vertical">
            <button type="submit" class="btn btn-action btn-large" name="create" value="create" data-cb-recaptcha="trigger">この内容で送信する</button>
            <button type="submit" class="btn btn-primary btn-text btn-prev">入力内容を変更する</button>
        </div>
        <input type="hidden" name="CAPTCHA" data-cb-recaptcha="token">
    </form>
</main>
@section ScriptBlock {
    @Page.Template.RecaptchaRenderInclude("Site/Inquiry/Create")
}
