@{
    var general = Page.ViewData.Model as Commerble.Sandbox.Services.ViewModels.Contact;
    var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages;
    ViewBag.MetaTitle = "お問い合わせ";
    ViewBag.MetaDescription = "商品に関する質問などお問い合わせページ。";
}
<main class="section content">
    <h1 class="h-underline">お問い合わせ</h1>
    @DisplayViewMessages(viewData)
    <form action="@InquiryUrl("contact")" method="post">
        <dl class="field required">
            <dt class="field-title">メールアドレス</dt>
            <dd class="field-body">
                @Page.Html.TextBox("contact.CustomerEmail", general?.CustomerEmail, new {
                    placeholder = "例）xxxxxx@commerble.com",
                    data_val = "true",
                    data_val_required="メールアドレスは必須項目です。",
                    data_val_email="メールアドレスをご入力ください。"
                })
                @ValidationMessageFor("contact.CustomerEmail")
                <p class="field-note">ドメイン受信拒否機能を設定されている方は&nbsp;commerble.com&nbsp;からの受信許可を設定してください。 </p>
            </dd>
        </dl>
        <dl class="field required">
            <dt class="field-title">氏名</dt>
            <dd class="field-body">
                @Page.Html.TextBox("contact.LastName", general?.LastName, new {
                    placeholder = "例）山田",
                    data_val = "true",
                    data_val_required = "氏名（姓）は必須項目です。",
                    data_val_length = "氏名（姓）は64文字以内でご入力ください。",
                    data_val_length_max = "64",
                })
                @Page.Html.TextBox("contact.FirstName", general?.FirstName, new {
                    placeholder = "例）太郎",
                    data_val = "true",
                    data_val_required = "氏名（名）は必須項目です。",
                    data_val_length = "氏名（名）は64文字以内でご入力ください。",
                    data_val_length_max = "64",
                })
                @ValidationMessageFor("contact.LastName")
                @ValidationMessageFor("contact.FirstName")
            </dt>
        </dl>
        <dl class="field optional">
            <dt class="field-title">注文番号</dt>
            <dd class="field-body">
                @Page.Html.TextBox("contact.OrderId", general?.OrderId, new {
                    placeholder = "例）10000000"
                })
                @ValidationMessageFor("contact.OrderId")
                <p class="field-note">注文に対するお問い合わせの場合はご記入ください。</p>
            </dd>
        </dl>
        <dl class="field required">
            <dt class="field-title">お問い合わせ内容</dt>
            <dd class="field-body">
                @Page.Html.TextArea("contact.Text", general?.Text, new {
                    rows="10",
                    data_val = "true",
                    data_val_required = "お問い合わせ内容は必須項目です。",
                    data_val_regex = "お問い合わせ内容に半角の「<」「>」「&#」を含めることはできません。",
                    data_val_regex_pattern = "^(?!(.|\n|\r)*(&#|[<>]))(.|\n|\r)*$"
                })
                @ValidationMessageFor("contact.Text")
            </dd>
        </dl>
        <div class="block">
            <button type="submit" name="confirm" value="post" class="btn btn-primary btn-next" data-cb-recaptcha="trigger">お問い合わせ内容を確認する</button>
        </div>
        <input type="hidden" name="CAPTCHA" data-cb-recaptcha="token">
    </form>
</main>
@section ScriptBlock {
    @Page.Template.RecaptchaRenderInclude("Site/Inquiry/Confirm")
}
