@{
	var general = Page.ViewData.Model as Commerble.Sandbox.Services.ViewModels.Contact;
	var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages;
    ViewBag.PageTitle = "お問い合わせ - 内容確認";
}
@DisplayViewMessages(viewData)
<div class="section">
	<div class="inner">
		<div class="formWrapper">
			<form action="@Page.Template.SecuredLink("ModdDefault", new {controller="Site", action="Inquiry", id="contact"})" method="post">
				@Raw(Page.Html.ModelToObjectState("model",general))
				@Page.Html.SessionAntiForgeryToken()
				<section class="formSection">
					<h1 class="formSectionTitle">新規会員登録</h1>
					<p class="formSectionLead">下記の内容でお間違えなければ、下にある「登録する」ボタンを押してください。</p>
					<dl class="formBlock">
						<dt class="formBlockTitle">氏名</dt>
						<dd class="formBlockBody">
							<p class="inputContent">@(general.LastName + general.FirstName)</p>
						</dd>
					</dl>
					<dl class="formBlock">
						<dt class="formBlockTitle">メールアドレス</dt>
						<dd class="formBlockBody">
							<p class="inputContent">@general.CustomerEmail</p>
						</dd>
					</dl>
					<dl class="formBlock">
						<dt class="formBlockTitle">注文番号</dt>
						<dd class="formBlockBody">
							<p class="inputContent">@(general.OrderId ?? "未入力")</p>
						</dd>
					</dl>
					<dl class="formBlock">
						<dt class="formBlockTitle">お問い合わせ内容</dt>
						<dd class="formBlockBody">
							<p class="inputContent">@general.Text</p>
						</dd>
					</dl>
				</section>
				<div class="buttonContainer">
					<button type="submit" class="btCallToAction btLargeSize btNext" name="create" value="create">この内容で送信する</button>
				</div>
				<div class="buttonContainer">
					<button type="submit" class="btPrimary btNormalSize btPrev">前にもどる</button>
				</div>
			</form>
		</div>
	</div>
</div>