@{
    var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages;
    var returnUrl = Page.ViewData.Eval("returnUrl") as string ?? string.Empty;
    var showGuestLogin = returnUrl.StartsWith(Href("~/Purchase/"), StringComparison.OrdinalIgnoreCase);

    ViewBag.PageTitle = "ログイン";
}
<div class="loginNotification">
    <h2 class="loginNotificationTitle">サイトリニューアルに伴う<br>パスワード再設定のお願い</h2>
    <div class="loginNotificationBody">
    <p class="loginNotificationLead">当サイトのリニューアルに伴い、ログインシステムを刷新いたしました。<br> セキュリティ向上のため、たいへんお手数をおかけいたしますが、再設定がお済みでない方はパスワードの再設定をお願いいたします。</p>
    <div class="buttonContainer">
        <a href="@Page.Url.RouteUrl("ModdDefault", new { controller="Site", action="Recovery" })" class="btPrimary btLargeSize btNext">パスワードを再設定する</a>
    </div>
    </div>
</div>

@DisplayViewMessages(viewData)

<div class="section">
    <div class="inner">
        <div class="loginForm">
            <section class="formSection">
                <h2 class="formSectionTitle center">会員登録がお済みのお客様</h2>
                <form action="@Page.Template.SecuredLink("ModdDefault", new {controller="Site", action="Login"})" method="post">
                    @Page.Html.Hidden("returnUrl")
                    @Page.Html.SessionAntiForgeryToken()
                    <dl class="formBlock">
                        <dt class="formBlockTitle short">メールアドレス</dt>
                        <dd class="formBlockBody">
                            <div class="formItem">
                                <input type="text" class="fullWidth" name="UserName" 
                                    data-val="true"
                                    data-val-required="メールアドレスは必須項目です。" 
                                    data-val-email="メールアドレスをご入力ください。">
                            </div>
                            @ValidationMessageFor("UserName")
                        </dd>
                    </dl>
                    <dl class="formBlock">
                        <dt class="formBlockTitle short">パスワード</dt>
                        <dd class="formBlockBody">
                            <div class="formItem">
                                <input type="password" name="Password" 
                                    data-val="true"
                                    data-val-required="「パスワード」の入力は必須です。">
                            </div>
                            @ValidationMessageFor("Password")
                        </dd>
                    </dl>
                    <div class="buttonContainer">
                        <button type="submit" class="btCallToAction btLargeSize btNext">ログイン</button>
                        <p class="link"><a href="@Page.Url.RouteUrl("ModdDefault", new {controller="Site",action="Recovery"})">パスワードをお忘れの場合はこちら</a></p>
                    </div>
                </form>
            </section>
            <section class="formSection">
                <h2 class="formSectionTitle center">まだ会員登録されていないお客様</h2>
                <p class="registerLead">会員登録をすると便利なマイページをご利用いただけます。<br>また、ログインするだけで、毎回お名前や住所などを入力することなくスムーズにお買い物をお楽しみいただけます。</p>
                <div class="buttonContainer">
                    <a href="@Page.Url.RouteUrl("ModdDefault", new {controller="Site",action="Account"})" class="btCallToAction btLargeSize btNext">会員登録をする（無料）</a>
                    @if (showGuestLogin) {
                        <p class="link"><a href="@Page.Url.RouteUrl("ModdDefault", new {controller="Site",action="NewGuest", returnUrl})">登録せずにレジへ進む</a></p>
                    }
                </div>
            </section>
        </div>
    </div>
</div>