@{
    var account = Page.ViewData.Model as VM.Account;
    var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages; 

    ViewBag.MetaTitle = "会員情報編集 - 確認";
}
<main class="section content">
    <h1 class="h-underline">会員情報編集</h1>
    @DisplayViewMessages(viewData)
    <form action="@AccountUrl()" method="post">
        @Raw(Page.Html.ModelToObjectState("model",account))
        @Page.Html.SessionAntiForgeryToken()
        <dl class="field">
            <dt class="field-title">氏名</dt>
            <dd class="field-body">
                <p class="field-text">@(account.LastName + account.FirstName)</p>
            </dd>
        </dl>
        <dl class="field">
            <dt class="field-title">フリガナ</dt>
            <dd class="field-body">
                <p class="field-text">@(account.LastNameKana + account.FirstNameKana)</p>
            </dd>
        </dl>
        <dl class="field">
            <dt class="field-title">生年月日</dt>
            <dd class="field-body">
                <p class="field-text">@account.Birthday.Value.ToString("yyyy年MM月dd日")</p>
            </dd>
        </dl>
        <dl class="field">
            <dt class="field-title">性別</dt>
            <dd class="field-body">
                <p class="field-text">@HumanSexesText[account.Sex]</p>
            </dd>
        </dl>
        <dl class="field">
            <dt class="field-title">メルマガ配信</dt>
            <dd class="field-body">
                <p class="field-text">@SubscribeText[account.Subscribe]</p>
            </dd>
        </dl>
        <div class="block block-vertical">
            <button type="submit" class="btn btn-action btn-large" name="update" value="post">会員情報を変更する</button>
            <button type="submit" class="btn btn-primary btn-text btn-prev">会員情報編集へ戻る</button>
        </div>
    </form>
</main>
