@{
	var address = Page.ViewData.Model as VM.AccountAddress;
	var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages; 

	ViewBag.PageTitle = "会員住所編集 - 確認";
}
@DisplayViewMessages(viewData)

<div class="section">
	<div class="inner">
		<div class="formWrapper">
			<form action="@Page.Template.SecuredLink("ModdDefault", new {controller="Member", action="AccountAddress"})" method="post">
                @Raw(Page.Html.ModelToObjectState("model",address))
				@Page.Html.SessionAntiForgeryToken()
				<section class="formSection">
					<h2 id="customer" class="formSectionTitle">会員住所</h2>
					<dl class="formBlock">
						<dt class="formBlockTitle">住所</dt>
						<dd class="formBlockBody">
							<p class="inputContent">〒@address.ZipCode &nbsp; @(address.Pref + address.City + address.Street) @address.Building</p>
						</dd>
					</dl>
					<dl class="formBlock">
						<dt class="formBlockTitle">電話番号</dt>
						<dd class="formBlockBody">
							<p class="inputContent">@address.Tel</p>
						</dd>
					</dl>
				</section>
                <div class="buttonContainer">
                    <button type="submit" class="btCallToAction btLargeSize btNext" name="update" value="post">会員住所を変更</button>
                </div>
                <div class="buttonContainer">
                    <a href="@Page.Url.RouteUrl("ModdDefault", new { controller="Member", action="Account" })" class="btPrimary btNormalSize btPrev">会員情報へ戻る</a>
                </div>
            </form>
        </div>
    </div>
</div>
