@{
    var address = Page.ViewData.Model as VM.AccountAddress;
    var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages; 

    ViewBag.PageTitle = "会員住所編集 - 確認";
}
<main class="section content">
    <h1 class="h-underline">会員住所編集</h1>
    @DisplayViewMessages(viewData)
    <form action="@Page.Template.SecuredLink("ModdDefault", new {controller="Member", action="AccountAddress"})" method="post">
        @Raw(Page.Html.ModelToObjectState("model",address))
        @Page.Html.SessionAntiForgeryToken()
        <dl class="field">
            <dt class="field-title">住所</dt>
            <dd class="field-body">
                <p class="field-text">〒@address.ZipCode &nbsp; @(address.Pref + address.City + address.Street) @address.Building</p>
            </dd>
        </dl>
        <dl class="field">
            <dt class="field-title">電話番号</dt>
            <dd class="field-body">
                <p class="field-text">@address.Tel</p>
            </dd>
        </dl>
        <div class="block block-vertical">
            <button type="submit" class="btn btn-action btn-next" name="update" value="post">会員住所を変更する</button>
            <a href="@Page.Url.RouteUrl("ModdDefault", new { controller="Member", action="Account" })#address" class="btn btn-primary btn-text btn-prev">会員情報編集へ戻る</a>
        </div>
    </form>
</main>
