@{
    var address = Page.ViewData.Model as UserAddress;
    var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages;
    var action = address.AddressId == 0 ? AddressCreateUrl() : AddressUrl(address.AddressId);
    
    ViewBag.PageTitle = "お届け先登録";
}
<main class="section content">
    <h1 class="h-underline">お届け先</h1>
    @DisplayViewMessages(viewData)
    <form action="@action" method="post">
        @Page.Html.SessionAntiForgeryToken()
        <dl class="field required">
            <dt class="field-title">お届け先名</dt>
            <dd class="field-body">
                @Page.Html.TextBox("AddressName",address.AddressName ?? "", new {
                    data_val = "true",
                    data_val_length = "お届け先名は10文字以内で入力してください。",
                    data_val_length_maxlength = "10"
                })
                @ValidationMessageFor("AddressName")
            </dd>
        </dl>
        @Page.Html.PartialEx("ModdSharedAddressEditor", address.Address, new {
            target = "Address", 
            command = "zipsearch", 
            commandUrl = action
        })
        <div class="block block-vertical">
            @if (address.AddressId == 0) {
                <button type="submit" class="btn btn-action btn-large" name="create" value="post">登録する</button>
            }
            else {
                <button type="submit" class="btn btn-action btn-large" name="update" value="post">変更する</button>
                <button type="submit" class="btn btn-danger btn-text" name="delete" value="post">削除する</button>
            }
            <a href="@AddressUrl()" class="btn btn-primary btn-text btn-prev">お届け先一覧へもどる</a>
        </div>
    </form>
</main>
