@{
    var addresses = Page.ViewData.Model as IEnumerable<UserAddress>;
    var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages; 

    ViewBag.MetaTitle = "お届け先";
}
<main class="content-wide columns">
    <div class="col-3 col-order-2 col-order-1-sp">
        <h1 class="h-underline">お届け先</h1>
        @DisplayViewMessages(viewData)
        <div class="block block-horizontal block-right">
            <a href="@AddressCreateUrl()" class="btn btn-primary btn-text btn-next">新規登録</a>
        </div>
        @if (addresses.Any()) {
            <table class="table">
                <thead>
                    <tr>
                        <th>登録名</th>
                        <th>お届け先</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var address in addresses) {
                        <tr>
                            <td data-title="登録名">@address.AddressName</td>
                            <td data-title="お届け先">
                                @(address.Address.Recipientlastname + address.Address.Recipientfirstname) / @(address.Address.Recipientlastnamekana + address.Address.Recipientfirstnamekana)<br>
                                @address.Address.ToString()<br>
                                @address.Address.Tel
                            </td>
                            <td align="center"><a href="@AddressUrl(address.AddressId)">編集</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        } else {
            <div class="message-box">
                <p class="message text-center lead">ご登録お届け先はまだありません。</p>
            </div>
        }
    </div>
    <div class="col-1 col-order-1 col-order-2-sp">
        @Page.Html.Partial("ModdSharedMemberNav", null)
    </div>
</main>
