@functions {
    public class ViewModel {
        public int ProductId { get; set; }
        public string Code { get; set; }
        public string Name { get; set; }
        public string Thumbnail { get; set; }
        public decimal? UnitPriceWithTax { get; set; }
        public bool? HasMultiplePrice { get; set; }
    }
    ViewModel LoadViewModel() {
        var favorite = Page.ViewData.Model as VM.FavoriteAppend; 
        var page = Database.Single(new { Now, Next, favorite.ProductId }, (db, args) => (
            from p in db.SitePages
            join r in db.ProductRelations on p.Code equals r.PageCode
            join s in db.Products on r.ExternalId1 equals s.ExternalId1
            join m in db.Search on r.PageCode equals m.PageCode into meta
            from m in meta.DefaultIfEmpty()
            where s.Id == args.ProductId
            select new {
                s.Id,
                p.Code,
                p.Name,
                p.Thumbnail,
                m.PriceProductId,
                m.HasMultiplePrice,
            }
        ).FirstOrDefault());

        if (page == null) {
            throw new System.Web.HttpException(404, "NotFound");
        }

        return new ViewModel {
            ProductId = favorite.ProductId,
            Code = page.Code,
            Name = page.Name,
            Thumbnail = page.Thumbnail,
            UnitPriceWithTax = page.PriceProductId.HasValue ? Page.Template.GetUnitPriceWithTax(page.PriceProductId.Value) : (decimal?)null,
            HasMultiplePrice = page.HasMultiplePrice
        };
    }
}
@{
    var vm = LoadViewModel();

    ViewBag.MetaTitle = "お気に入り - 登録確認";
}
<main class="section content">
    <h1 class="h-underline">お気に入り</h1>
    <form action="@FavoriteUrl(item:vm.ProductId)" method="post">
        @Page.Html.SessionAntiForgeryToken()
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">商品</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">
                        <a href="@ItemUrl(vm.Code)" class="product-icon" title="@vm.Name">
                            <div class="image image-square">
                                <img src="@IconUrl(vm.Thumbnail)" alt="@vm.Name">
                            </div>
                        </a>
                    </td>
                    <td align="center">
                        <a href="@ItemUrl(vm.Code)" class="product-icon" title="@vm.Name">
                            @vm.Name <br>
                            @PrintPrice(vm.UnitPriceWithTax, vm.HasMultiplePrice)
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="block">
            <button type="submit" class="btn btn-action btn-large">お気に入りに登録する</button>
        </div>
    </form>
</main>
