@{
    var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages; 
    var user = Page.Template.GetModdUser();
    var address = Commerble.TypeResolver.Resolve<IAccountService>().GetAccountAddress(user.Account.UserNo);

    ViewBag.PageTitle = "マイページ"; 
}
@DisplayViewMessages(viewData)

<main class="content-wide columns">
    <div class="col-3 col-order-2 col-order-1-sp">
        <section class="section">
            <h1 class="h-underline">会員情報</h1>
            <dl class="field">
                <dt class="field-title">氏名</dt>
                <dd class="field-body">
                    <p class="field-text">@user.Account.ExtendProperties.LastName @user.Account.ExtendProperties.FirstName</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">フリガナ</dt>
                <dd class="field-body">
                    <p class="field-text">@user.Account.ExtendProperties.LastNameKana @user.Account.ExtendProperties.FirstNameKana</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">誕生日</dt>
                <dd class="field-body">
                    <p class="field-text">@(user.Account.ExtendProperties.Birthday?.ToString("yyyy年M月d日"))</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">性別</dt>
                <dd class="field-body">
                    <p class="field-text">@HumanSexesText[user.Account.ExtendProperties.Sex]</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">メルマガ配信</dt>
                <dd class="field-body">
                    <p class="field-text">@SubscribeText[user.Account.ExtendProperties.Subscribe]</p>
                </dd>
            </dl>
            <p class="block block-horizontal block-right"><a class="btn btn-primary btn-text btn-small btn-next" href="@Page.Url.RouteUrl("ModdDefault", new {controller="Member", action="Account"})#customer">会員情報を変更する</a></p>
        </section>
        <section class="section">
            <h1 class="h-underline">会員住所</h1>
            <dl class="field">
                <dt class="field-title">住所</dt>
                <dd class="field-body">
                    <p class="field-text">@address.ToString()</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">電話番号</dt>
                <dd class="field-body">
                    <p class="field-text">@address.Tel</p>
                </dd>
            </dl>
            <p class="block block-horizontal block-right"><a class="btn btn-primary btn-text btn-small btn-next"  href="@Page.Url.RouteUrl("ModdDefault", new {controller="Member", action="Account"})#address">会員住所を変更する</a></p>
        </section>
        <section class="section">
            <h1 class="h-underline">ログイン情報</h1>
            <dl class="field">
                <dt class="field-title">メールアドレス</dt>
                <dd class="field-body">
                    <p class="field-text">@user.UserName</p>
                </dd>
            </dl>
            <dl class="field">
                <dt class="field-title">パスワード</dt>
                <dd class="field-body">
                    <p class="field-text">セキュリティのため表示しておりません</p>
                </dd>
            </dl>
            <p class="block block-horizontal block-right"><a class="btn btn-primary btn-text btn-small btn-next" href="@Page.Url.RouteUrl("ModdDefault", new {controller="Member", action="Account"})#email">メールアドレスを変更する</a></p>
            <p class="block block-horizontal block-right"><a class="btn btn-primary btn-text btn-small btn-next" href="@Page.Url.RouteUrl("ModdDefault", new {controller="Member", action="Password"})">パスワードを変更する</a></p>
            <div class="block">
                <a href="@LogoutUrl()" class="btn btn-default btn-next">ログアウト</a>
            </div>
        </section>
        <section class="section">
            <p class="block block-horizontal block-right"><a class="btn btn-primary btn-text btn-small btn-next" href="@Page.Url.RouteUrl("ModdDefault", new {controller="Member", action="Quit"})">退会する</a></p>
        </section>
    </div>
    <div class="col-1 col-order-1 col-order-2-sp">
        @Page.Html.Partial("ModdSharedMemberNav", null)
    </div>
</main>