@functions {
    public class ViewModel {
        public long RequestId { get; set; }
        public int ProductId { get; set; }
        public string Code { get; set; }
		public string Name { get; set; }
		public string DisplayName { get; set; }
		public string Icon { get; set; }
		public string Size { get; set; }
		public string Color{ get; set; }
        public string ExternalId1 { get; set; }
        public decimal UnitPriceWithTax { get; set; }
        public int RequestQty { get; set; }
        public string ProductName() {
            if (string.IsNullOrEmpty(DisplayName)) {
                return Name;
            }
            var valiation = string.Join("／", new[] {Size, Color}.Where(text => !string.IsNullOrEmpty(text)));
            if (string.IsNullOrEmpty(valiation)) {
                return DisplayName;
            }
            return $"{DisplayName} {valiation}";
        }
    }
    ViewModel LoadViewModel() {
        var notice = Page.ViewData.Model as ReserveRequest; 
        var sku = Database.Single(new { Now, Next, notice.ProductId }, (db, args) => (
            from p in db.ProductPages
            join r in db.ProductRelations on p.Code equals r.ProductPageCode
            join s in db.Products on r.ProductExternalId1 equals s.ExternalId1
            where s.Id == args.ProductId
            select new {
                p.Code,
				p.Name,
				s.Size,
				s.Color,
				s.Id,
				s.ExternalId1,
				ProductIcon = s.Icon,
				PageIcon = p.Icon
            }
        ).FirstOrDefault());

        if (sku == null) {
            throw new System.Web.HttpException(404, "NotFound");
        }

        return new ViewModel {
            RequestId = notice.ReserveRequestId,
            ProductId = notice.ProductId,
            RequestQty = notice.Amount,
            Code = sku?.Code,
            Name = sku?.Name,
            Icon = !string.IsNullOrEmpty(sku?.ProductIcon) ? sku.ProductIcon : sku?.PageIcon,
            Size = sku?.Size,
            Color = sku?.Color,
            ExternalId1 = sku?.ExternalId1,
            UnitPriceWithTax = Page.Template.GetUnitPriceWithTax(notice.ProductId),
        };
    }
}
@{
    var vm = LoadViewModel();

    ViewBag.PageTitle = "次回入荷予約 - キャンセル";
}
<main class="section content">
    <h1 class="h-underline">次回入荷分の予約をキャンセル</h1>
    <form action="@Page.Url.RouteUrl("ModdDefault", new { controller="Member", action="Notices", id=vm.RequestId})" method="post">
        @Page.Html.HttpMethodOverride("delete")
        @Page.Html.SessionAntiForgeryToken()
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">商品</th>
                    <th>個数</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">
                        <a href="@ItemUrl(vm.Code)" class="product-icon" title="@vm.Name">
                            <div class="image image-square">
                                <img src="@IconUrl(vm.Icon)" alt="@vm.Name">
                            </div>
                        </a>
                    </td>
                    <td align="center">
                        <a href="@ItemUrl(vm.Code)" class="product-icon" title="@vm.Name">
                            @vm.ProductName() <br>
                            @PrintPrice(vm.UnitPriceWithTax)
                        </a>
                    </td>
                    <td data-title="個数">
                        <select name="RequestAmount" ic-action="showRecalc">
                            @for (var i = 1; i <= 10; i++ ) {
                                <option value="@i" @when(i==vm.RequestQty, "selected")>@i</option>
                            }
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="block block-vertical">
            <button type="submit" class="btn btn-danger btn-text">次回入荷分の予約をキャンセルする</button>
            <a href="@Page.Url.RouteUrl("ModdDefault", new { controller="Member", action="Notices", id=(long?)null})" class="btn btn-default btn-prev">仮予約一覧へもどる</a>
        </div>
    </form>
</main>
