@{
      var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages; 
    var hasBacklog = Page.Template.UserHasBacklog();
    ViewBag.PageTitle = "退会";
}
<main class="section content">
    <h1 class="h-underline">退会</h1>
    @DisplayViewMessages(viewData)
    <form action="@Page.Template.SecuredLink("ModdDefault", new { controller="Member", action="Quit" })" method="post">
        @Page.Html.SessionAntiForgeryToken()
        @if(!hasBacklog) {
            <dl class="field">
                <dt class="field-title"></dt>
                <dd class="field-body">
                    <label><input type="checkbox" name="Accept"><span class="text">了承します。</span></label>
                    @ValidationMessageFor("Accept")
                </dd>
            </dl>
        }
        else {
            <div class="message-box">
                <p class="message">未配送の注文が残っているため、現時点では退会できません。<br>注文をキャンセル、もしくは、お荷物をお受け取り後、時間をおいて再度お試しください。</p>
            </div>
        }
        <div class="block">
            @if(!hasBacklog) {
                <button type="submit" name="update" value="post" class="btn btn-danger btn-text">退会する</button>
            }
            <a href="@Page.Url.RouteUrl("ModdDefault", new { controller="Member", action="Index"})" class="btn btn-default btn-prev">マイページへ戻る</a>
        </div>
    </form>
</main>
