@{
    var user = Page.ViewData.Model as VM.ChangeUserName;
    var viewData = Page.ViewData[BasicController.ViewMessageKey] as ViewMessages; 

    ViewBag.PageTitle = "登録メールアドレス変更 - 確認";
}
<main class="section content">
    <h2 class="h-underline">登録メールアドレス変更</h2>
    @DisplayViewMessages(viewData)
    <form action="@UserNameChangeUrl()" method="post">
        @Raw(Page.Html.ModelToObjectState("model",user))
        @Page.Html.SessionAntiForgeryToken()
        <dl class="field">
            <dt class="field-title">メールアドレス</dt>
            <dd class="field-body">
                <p class="field-text">@user.UserName</p>
            </dd>
        </dl>
        <div class="block block-vertical">
            <button type="submit" class="btn btn-action btn-next" name="update" value="post">メールアドレスを変更する</button>
            <a href="@AccountUrl()#email" class="btn btn-primary btn-text btn-prev">会員情報編集へ戻る</a>
        </div>
    </form>
</main>
