@{
    Layout = null;
    var addressId = (long?)Page.ViewData["addressId"];
    var zipsearchAction = (string)Page.ViewData["zipsearchAction"];
    var zipList = Page.ViewData.Model as List<ZipCodeAddress>;
}
@if (!zipList.Any())
{
    <p>郵便番号に該当する住所が見つかりませんでした。</p>
}
else
{
    foreach (var zip in zipList)
    {
        <form action="@MemberZipSearch(addressId)" method="post">
            <button type="submit" class="btn btn-primary btn-ghost">選択</button>
            〒 @zip.ZipCode @zip.Prefecture @zip.City @zip.Street
            @Page.Html.Hidden("ZipCode", zip.ZipCode)
            @Page.Html.Hidden("Pref", zip.Prefecture)
            @Page.Html.Hidden("City", zip.City)
            @Page.Html.Hidden("Street", zip.Street)

            @Page.Html.Hidden("target")
            @Page.Html.Hidden("zipsearchAction")
        </form>
    }
}