<%
    const {
    } = locals;
    const i = 1;
%>
<%- include('gnav') %>
<main class="section content">
    <h1 class="h-underline">次回入荷分の予約をキャンセル</h1>
    <form action="@ReserveUrl(vm.RequestId)" method="post">
        <!-- @Page.Html.HttpMethodOverride("delete") -->
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">商品</th>
                    <th>個数</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">
                        <a href="/?path=/story/pages-item--default" class="product-icon" title="SKU名 <%=i%>">
                            <div class="image image-square">
                                <img src="https://httpstat.us/404" alt="SKUサムネ <%=i%>">
                            </div>
                        </a>
                    </td>
                    <td align="center">
                        <a href="/?path=/story/pages-item--default" class="product-icon" title="SKU名 <%=i%>">
                            SKU名 <%=i%><br>
                            <%- include('price', {
                                price: 1000,
                                tax: 'include',
                                yenMark: true,
                            }) %>
                        </a>
                    </td>
                    <td data-title="個数">
                        2
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="block block-vertical">
            <!-- <button type="submit" class="btn btn-danger btn-text">次回入荷分の予約をキャンセルする</button> -->
            <a href="/?path=/story/pages-member-notices--complete" class="btn btn-danger btn-text">次回入荷分の予約をキャンセルする</a>
            <a href="/?path=/story/pages-member-notices--index" class="btn btn-default btn-prev">次回入荷予約一覧へもどる</a>
        </div>  
    </form>
</main>
