<%
    const {
        serverError,
        empty,
        last,
        complete
    } = locals;
    const status = ['入荷待ち', '引当済み', '購入済み', 'キャンセル	'];
%>
<%- include('gnav') %>
<main class="content-wide columns">
    <div class="col-3 col-order-2 col-order-1-sp">
		<h1 class="h-underline">次回入荷予約</h1>
		<% if (serverError) { %>
            <%- include('alert', { color: 'error' }) %>
        <% } %>
        <% if (complete) { %>
            <%- include('alert', { color: 'success', messages: ['次回入荷分を予約しました', '次回入荷予約をキャンセルしました'] }) %>
        <% } %>
        <% if (!empty) { %>
            <table class="table">
				<thead>
					<tr>
						<th colspan="2">商品</th>
						<th>個数</th>
						<th>ステータス</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
                    <% for (let i = 0; i < 4; i++ ) { %>
                        <tr>
                            <td align="center">
                                <a href="/?path=/story/pages-item--default" class="product-icon" title="SKU名 <%=i%>">
                                    <div class="image image-square">
                                        <img src="https://httpstat.us/404" alt="SKUサムネ <%=i%>">
                                    </div>
                                </a>
                            </td>
                            <td align="center">
                                <a href="/?path=/story/pages-item--default" class="product-icon" title="SKU名 <%=i%>">
                                    SKU名 <%=i%><br>
                                    <%- include('price', {
                                        price: 1000,
                                        tax: 'include',
                                        yenMark: true,
                                    }) %>
                                </a>
                            </td>
                            <td data-title="個数">
								2
							</td>
							<td data-title="ステータス">
                                <%= status[i % 4] %>
							</td>
                            <td align="center">
                                <% if(i % 4 == 1) { %> 
                                    <a href="/?path=/story/pages-order-cart--default" class="btn btn-action">カートイン</a>
                                <% } %>
                                <% if(i % 4 <= 1) { %> 
									<a href="/?path=/story/pages-member-notices--item" class="btn btn-primary btn-text">予約をキャンセル</a>
                                <% } %>
                            </td>
                        </tr>
                    <% } %>
				</tbody>
			</table>
            <% if (!last) { %>
                <div class="block">
                    <a href="/?path=/story/pages-member-notices--last" class="btn btn-primary btn-text btn-next">次のページ</a>
                </div>
            <% } %>
        <% } else { %>
            <div class="message-box">
                <p class="message text-center lead">次回入荷を予約された商品はまだありません。</p>
            </div>
        <% } %>
    </div>
    <div class="col-1 col-order-1 col-order-2-sp">
        <%- include('memberMenu', { active: 'notice' }) %>
    </div>
</main>
