<%
    const {
        disabled, readonly, invalid, 
        name, options
    } = locals;

    const when = (condition, str) => condition ? str : ''
%>
<% for(let opt of options) { %>
    <label>
        <input type="radio" 
            name="<%= name %>" 
            value="<%= opt.value %>" 
            <%= when(disabled, 'disabled') %> 
            <%= when(readonly, 'readonly') %> 
            <%- when(invalid, 'class="input-validation-error"') %>
        >
        <span class="text"><%= opt.text %></span>
    </label>
<% } %>