<%
    const {
        show, disabled, readonly, invalid
    } = locals;

    const when = (condition, str) => condition ? str : ''

    const type = show ? 'text' : 'password'
    const mark = show ? '🙈 HIDE' : '🙊 SHOW'
%>
<div class="field-group">
    <input 
        type="<%= type %>" 
        <%= when(disabled, 'disabled') %> 
        <%= when(readonly, 'readonly') %> 
        <%- when(invalid, 'class="input-validation-error"') %>
    >
    <button class="btn"><%= mark %></button>
</div>