@{
    var kinds = Page.Request.QueryString.GetValues("k") ?? new string[0];
    var tags = Page.Request.QueryString.GetValues("t") ?? new string[0];

    var sort = Page.Request.QueryString["sort"] ?? "new";
    var page = Page.Request.QueryString["page"] ?? "0";
    var query = kinds.Select(k => $"k={k}").Concat(tags.Select(t => $"t={t}")).Concat(new[]{$"sort={sort}",$"page={page}"});
    ViewBag.Canonical = Page.Template.SecuredHost(true) + Page.Request.Path + "?" + string.Join("&", query);
    
    ViewBag.MetaTitle = "商品検索";
    ViewBag.JsonLd = new[] {
        new Dictionary<string, object> {
            ["@context"] = "https://schema.org/",
            ["@type"] = "BreadcrumbList",
            ["itemListElement"] = new [] {
                new Dictionary<string, object> {
                    ["@type"] = "ListItem",
                    ["position"] = 1,
                    ["name"] = "Top",
                    ["item"] = Page.Template.SecuredHost(true) + Href("~/")
                },
                new Dictionary<string, object> {
                    ["@type"] = "ListItem",
                    ["position"] = 2,
                    ["name"] = "商品検索",
                    ["item"] = Page.Template.SecuredHost(true) + Page.Request.Url.AbsolutePath
                },
            }
        }
    };
}
<main class="section content-wide">
    <h1 class="h-border text-center">商品検索</h1>
    @Include("ProductList", new Dictionary<string, object> {
        ["kinds"] = kinds,
        ["tags"]  = tags,
        ["open"]  = kinds.Length == 0 && tags.Length == 0,
    })
</main>