@{
    var kinds = Page.Request.QueryString.GetValues("k");
    var tags = Page.Request.QueryString.GetValues("t");

    ViewBag.PageTitle = "商品検索";
    ViewBag.JsonLd = new[] {
        new Dictionary<string, object> {
            ["@context"] = "https://schema.org/",
            ["@type"] = "BreadcrumbList",
            ["itemListElement"] = new [] {
                new Dictionary<string, object> {
                    ["@type"] = "ListItem",
                    ["position"] = 1,
                    ["name"] = "Top",
                    ["item"] = Page.Template.SecuredHost(true) + Href("~/")
                },
                new Dictionary<string, object> {
                    ["@type"] = "ListItem",
                    ["position"] = 2,
                    ["name"] = "商品検索",
                    ["item"] = Page.Template.SecuredHost(true) + Page.Request.Url.AbsolutePath
                },
            }
        }
    };
}
<div class="section">
    <div class="inner">
        <h2 class="sectionTitle bordered">商品検索</h2>
    </div>
</div>
@Include("ProductList", new Dictionary<string, object> {
    ["kinds"] = kinds,
    ["tags"]  = tags,
})