@model IDictionary<string, object>
@functions {
    public class ViewModel {
        public string Sort { get; set; }
        public List<IGrouping<string, CategoryViewModel>> GroupedKinds { get; set; }
        public List<IGrouping<string, CategoryViewModel>> GroupedTags { get; set; }
        public string[] CheckedKinds { get; set; }
        public string[] CheckedTags { get; set; }
    }
    public class CategoryViewModel {
        public string GroupCode { get; set; }
        public string Code { get; set; }
        public string Name { get; set; }
        public string Icon { get; set; }
    }
    ViewModel LoadViewModel() {
        var checkedKinds = (Model.ContainsKey("kinds") ? Model["kinds"] as string[] : null) ?? new string[0];
        var checkedTags  = (Model.ContainsKey("tags")  ? Model["tags"]  as string[] : null) ?? new string[0];
        var sort = Page.Request.QueryString["sort"] ?? "new";
        var kinds = Kinds.Select(k => new CategoryViewModel {
            GroupCode = k.GroupCode,
            Code = k.Code,
            Name = k.Name,
            Icon = k.Icon,
        });
        var tags = Tags.Select(t => new CategoryViewModel {
            GroupCode = t.GroupCode,
            Code = t.Code,
            Name = t.Name,
            Icon = t.Icon,
        });
        return new ViewModel {
            Sort = sort,
            GroupedKinds = kinds.GroupBy(t => t.GroupCode).ToList(),
            GroupedTags = tags.GroupBy(t => t.GroupCode).ToList(),
            CheckedKinds = checkedKinds,
            CheckedTags = checkedTags,
        };
    }
}
@{
    var vm = LoadViewModel();
}

<form action="@Page.Url.RouteUrl("Search")" method="get">
    <div class="drawerBody">
        @ButtonBlock("絞り込み", icon:"fa fa-search", btAccent:true, submit:true)
        <div class="facetWrapper">
            <div class="facetItem">
                <p class="facetTitle active">
                    <span class="facetTitleText">商品分類</span>
                </p>
                <div class="facetBody active">
                    <ul class="facetList category">
                        @foreach(var group in vm.GroupedKinds) {
                            <li class="facetListItem">
                                <label class="hasChild @when(group.Any(kind => vm.CheckedKinds.Contains(kind.Code)), "active")" ic-action="toggleClass:'active'">
                                    <span class="text">@group.Key</span>
                                </label>
                                <ul>
                                    @foreach(var kind in group) {
                                        <li class="facetListItem">
                                            <label>
                                                <input type="checkbox" name="k" value="@kind.Code" @when(vm.CheckedKinds.Contains(kind.Code), "checked")>
                                                <span class="text">@if (!string.IsNullOrEmpty(kind.Icon)) { <i class="@kind.Icon"></i> }@kind.Name</span>
                                            </label>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="facetItem">
                <p class="facetTitle active">
                    <span class="facetTitleText">商品タグ</span>
                </p>
                <div class="facetBody active">
                    <ul class="facetList category focus">
                        @foreach(var group in vm.GroupedTags.Where(g => string.IsNullOrEmpty(g.Key))) {
                            foreach(var tag in group) {
                                <li class="facetListItem">
                                    <label>
                                        <input type="checkbox" name="t" value="@tag.Code" @when(vm.CheckedTags.Contains(tag.Code), "checked")>
                                        <span class="text">@tag.Name</span>
                                    </label>
                                </li>
                            }
                        }
                        @foreach(var group in vm.GroupedTags.Where(g => !string.IsNullOrEmpty(g.Key))) {
                            <li class="facetListItem">
                                <label class="hasChild @when(group.Any(tag => vm.CheckedTags.Contains(tag.Code)), "active")" ic-action="toggleClass:'active'">
                                    <span class="text">@group.Key</span>
                                </label>
                                <ul>
                                    @foreach(var tag in group) {
                                        <li class="facetListItem">
                                            <label>
                                                <input type="checkbox" name="t" value="@tag.Code" @when(vm.CheckedTags.Contains(tag.Code), "checked")>
                                                <span class="text">@tag.Name</span>
                                            </label>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="facetItem">
                <p class="facetTitle active">
                    <span class="facetTitleText">並び替え</span>
                </p>
                <div class="facetBody active">
                    <ul class="facetList focus">
                        <li class="facetListItem">
                            <label>
                                <input type="radio" name="sort" value="rcm_desc" @when(vm.Sort=="rcm_desc", "checked")>
                                <span class="text">おすすめ順</span>
                            </label>
                        </li>
                        <li class="facetListItem">
                            <label>
                                <input type="radio" name="sort" value="rkg_asc" @when(vm.Sort=="rkg_asc", "checked")>
                                <span class="text">ランキング順</span>
                            </label>
                        </li>
                        <li class="facetListItem">
                            <label>
                                <input type="radio" name="sort" value="prc_asc" @when(vm.Sort=="prc_asc", "checked")>
                                <span class="text">価格が安い順</span>
                            </label>
                        </li>
                        <li class="facetListItem">
                            <label>
                                <input type="radio" name="sort" value="prc_desc"" @when(vm.Sort=="prc_desc", "checked")>
                                <span class="text">価格が高い順</span>
                            </label>
                        </li>
                        <li class="facetListItem">
                            <label>
                                <input type="radio" name="sort" value="new"" @when(vm.Sort=="new", "checked")>
                                <span class="text">新しい順</span>
                            </label>
                        </li>
                        <li class="facetListItem">
                            <label>
                                <input type="radio" name="sort" value="new"" @when(vm.Sort=="old", "checked")>
                                <span class="text">古い順</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @ButtonBlock("絞り込み", icon:"fa fa-search", btAccent:true, submit:true)
    </div>
</form>