<%
    const {
        wrap,
        required, title,
        disabled, readonly, invalid, 
        name, options,
        date, nameY, nameM, nameD,
    } = locals;

    const when = (condition, str) => condition ? str : ''
%>
<% if (wrap) { %>
    <dl class="field <%= required || '' %>">
        <dt class="field-title"><%= title || 'Control' %></dt>
        <dd class="field-body">
            <%- include('date', { 
                disabled, readonly, invalid, 
                nameY: nameY || 'Y',
                nameM: nameM || 'M',
                nameD: nameD || 'D',
            }) %>
            <p class="field-error <%- when(invalid,'field-validation-error') %>" data-valmsg-for="<%= nameY || 'Y' %>" data-valmsg-replace="true"><%= when(invalid,'エラーメッセージ') %></p>
            <p class="field-error <%- when(invalid,'field-validation-error') %>" data-valmsg-for="<%= nameM || 'M' %>" data-valmsg-replace="true"><%= when(invalid,'エラーメッセージ') %></p>
            <p class="field-error <%- when(invalid,'field-validation-error') %>" data-valmsg-for="<%= nameD || 'D' %>" data-valmsg-replace="true"><%= when(invalid,'エラーメッセージ') %></p>
        </dd>
    </dl>
<% } else { %>
    <%- include('date', { 
        disabled, readonly, invalid, 
        nameY: nameY || 'Y',
        nameM: nameM || 'M',
        nameD: nameD || 'D',
    }) %>
<% } %>
