<%
    const {
        serverError,
        create,
        zipSearched,
        zipSelected,
    } = locals;
    const i = 1;
    const address = {
        lastName: '',
        firstName: '',
        lastNameKana: '',
        firstNameKana: '',
        zipCode: '',
        pref: '',
        city: '',
        street: '',
        building: '',
        tel: ''
    }
    if (!create) {
        address.lastName = '山田';
        address.firstName = '太郎';
        address.lastNameKana = 'ヤマダ';
        address.firstNameKana = 'タロウ';
        address.zipCode = '1030014';
        address.pref = '東京都';
        address.city = '中央区';
        address.street = '日本橋蛎殻町';
        address.tel = '00000000000'
    }
    if (zipSearched||zipSelected) {
        address.zipCode = '4980000';
    }
    if (zipSelected) {
        address.pref = '三重県';
        address.city = '桑名郡木曽岬町';
    }
%>
<%- include('gnav') %>
<main class="section content">
    <h1 class="h-underline">お届け先</h1>
    <% if (serverError) { %>
        <%- include('alert', { color: 'error' }) %>
    <% } %>
    <form action="@action" method="post">
        <dl class="field required">
            <dt class="field-title">お届け先名</dt>
            <dd class="field-body">
                <input type="text"
                    name="AddressName"
                    value="<%= create ? '' : 'お届け先1' %>"
                    data-val = "true",
                    data-val-length = "お届け先名は10文字以内で入力してください。",
                    data-val-length_max = "10">
                <p class="field-error" data-valmsg-for="AddressName" data-valmsg-replace="true"></p>
            </dd>
        </dl>
        <dl class="field">
            <dt class="field-title">氏名</dt>
            <dd class="field-body">
                <input type="text"
                    name="Address.Recipientlastname"
                    value="<%= address.lastName %>"
                    placeholder = "例）山田",
                    ic-action = "removeSpace;toZenkaku;validateForce",
                    ic-trigger-on = "focusout",
                    data-val = "true",
                    data-val-required = "氏名（姓）は必須項目です。",
                    data-val-length = "氏名（姓）は64文字以内でご入力ください。",
                    data-val-length-max = "64",
                    data-val-regex = "氏名（姓）はひらがな、カタカタ、漢字、全角英数字、－―ー‐ヽヾゝゞ〃仝々〆〇 のみ使用可能です。",
                    data-val-regex-pattern = "^[\u3040-\u30FF|\u4E00-\u9FFF|０-９Ａ-Ｚａ-ｚ|－|―|ー|‐|ヽ|ヾ|ゝ|ゞ|〃|仝|々|〆|〇]+$"
                >
                <input type="text"
                    name="Address.Recipientfirstname"
                    value="<%= address.firstName %>"
                    placeholder = "例）太郎",
                    ic-action = "removeSpace;toZenkaku;validateForce",
                    ic-trigger_on = "focusout",
                    data-val = "true",
                    data-val-required = "氏名（名）は必須項目です。",
                    data-val-length = "氏名（名）は64文字以内でご入力ください。",
                    data-val-length-max = "64",
                    data-val-regex = "氏名（名）はひらがな、カタカタ、漢字、全角英数字、－―ー‐ヽヾゝゞ〃仝々〆〇 のみ使用可能です。",
                    data-val-regex-pattern = "^[\u3040-\u30FF|\u4E00-\u9FFF|０-９Ａ-Ｚａ-ｚ|－|―|ー|‐|ヽ|ヾ|ゝ|ゞ|〃|仝|々|〆|〇]+$"
                >
                <p class="field-error" data-valmsg-for="Address.Recipientlastname" data-valmsg-replace="true"></p>
                <p class="field-error" data-valmsg-for="Address.Recipientfirstname" data-valmsg-replace="true"></p>
            </dd>
        </dl>
        <dl class="field">
            <dt class="field-title">フリガナ</dt>
            <dd class="field-body">
                <input type="text"
                    name="Address.Recipientlastnamekana"
                    value="<%= address.lastNameKana %>"
                    placeholder = "例）ヤマダ",
                    ic-action = "removeSpace;toZenkaku;validateForce",
                    ic-trigger-on = "focusout",
                    data-val = "true",
                    data-val-required = "フリガナ（セイ）は必須項目です。",
                    data-val-length = "フリガナ（セイ）は64文字以内でご入力ください。",
                    data-val-length-max = "64",
                    data-val-regex = "フリガナ（セイ）はカタカタ、゠・ーヽヾヿ のみ使用可能です。",
                    data-val-regex-pattern = "^[\u30A0-\u30FF]+$"
                >
                <input type="text"
                    name="Address.Recipientfirstnamekana"
                    value="<%= address.firstNameKana %>"
                    placeholder = "例）タロウ",
                    ic-action = "removeSpace;toZenkaku;validateForce",
                    ic-trigger_on = "focusout",
                    data-val = "true",
                    data-val-required = "フリガナ（メイ）は必須項目です。",
                    data-val-length = "フリガナ（メイ）は64文字以内でご入力ください。",
                    data-val-length-max = "64",
                    data-val-regex = "フリガナ（メイ）はカタカタ、゠・ーヽヾヿ のみ使用可能です。",
                    data-val-regex-pattern = "^[\u30A0-\u30FF]+$"
                >
                <p class="field-error" data-valmsg-for="Address.Recipientlastnamekana" data-valmsg-replace="true"></p>
                <p class="field-error" data-valmsg-for="Address.Recipientfirstnamekana" data-valmsg-replace="true"></p>
            </dd>
        </dl>
        <dl class="field required">
            <dt class="field-title">郵便番号</dt>
            <dd class="field-body">
                <div class="field-group">
                    <input type="tel"
                        name="Address.ZipCode"
                        placeholder="例）1234567"
                        maxlength="7"
                        size="7"
                        data-val="true"
                        data-val-required="郵便番号は必須項目です。"
                        value="<%= address.zipCode %>"
                        >
                    <!-- <button class="btn" ic-post-to="@action" ic-target="#Address_szipsearch" ic-include="{&quot;zipsearch&quot;:&quot;zipsearch&quot;}">検索</button> -->
                    <button type="button" class="btn" ic-get-from="#mock_zipsearch_result" ic-target="#Address_szipsearch">検索</button>
                </div>
                <div id="Address_szipsearch"></div>
                <p class="field-error" data-valmsg-for="Address.ZipCode" data-valmsg-replace="true"></p>
            </dd>
        </dl>
        <dl class="field required">
            <dt class="field-title">都道府県</dt>
            <dd class="field-body">
                <input type="text" 
                    name="Address.Pref"
                    placeholder="郵便番号検索で自動的に挿入されます。"
                    readonly
                    data-val="true"
                    data-val-required="都道府県は必須項目です。"
                    value="<%= address.pref %>">
                <p class="field-error" data-valmsg-for="Address.Pref" data-valmsg-replace="true"></p>
                <p class="field-note">郵便番号検索から自動入力されます。</p>
            </dd>
        </dl>
        <dl class="field required">
            <dt class="field-title">市区町村</dt>
            <dd class="field-body">
                <input type="text" 
                    name="Address.City"
                    placeholder="郵便番号検索で自動的に挿入されます。"
                    readonly
                    data-val="true"
                    data-val-required="市区町村は必須項目です。"
                    value="<%= address.city %>">
                <p class="field-error" data-valmsg-for="Address.City" data-valmsg-replace="true"></p>
                <p class="field-note">郵便番号検索から自動入力されます。</p>
            </dd>
        </dl>
        <dl class="field required">
            <dt class="field-title">通り・丁番地</dt>
            <dd class="field-body">
                <input type="text"
                    name="Address.Street"
                    placeholder = "例）○○町１－２－３",
                    ic-action = "toZenkaku;validateForce",
                    ic-trigger-on = "focusout",
                    data-val = "true",
                    data-val-required = "通り・丁番地は必須項目です。番地がない場合は「無番地」とご記入ください。",
                    data-val-length = "通り・丁番地は128文字以内でご入力ください。",
                    data-val-length-max = "128",
                    data-val-regex = "通り・丁番地はひらがな、カタカタ、漢字、全角英数字、全角スペース、－―ー‐ヽヾゝゞ〃仝々〆〇＆（） のみ使用可能です。",
                    data-val-regex-pattern = "^[\u3040-\u30FF|\u4E00-\u9FFF|０-９Ａ-Ｚａ-ｚ|－|―|ー|‐|ヽ|ヾ|ゝ|ゞ|〃|仝|々|〆|〇|　|＆|（|）]+$"
                    value="<%= address.street %>">
                <p class="field-error" data-valmsg-for="Address.Street" data-valmsg-replace="true"></p>
            </dd>
        </dl>
        <dl class="field optional">
            <dt class="field-title">建物名・部屋番号</dt>
            <dd class="field-body">
                <input type="text"
                    name="Address.Building"
                    placeholder = "例）〇〇マンション　１０１",
                    ic-action = "toZenkaku;validateForce",
                    ic-trigger-on = "focusout",
                    data-val = "true",
                    data-val-length = "建物名・部屋番号は128文字以内でご入力ください。",
                    data-val-length-max = "128",
                    data-val-regex = "建物名・部屋番号はひらがな、カタカタ、漢字、全角英数字、全角スペース、－―ー‐ヽヾゝゞ〃仝々〆〇＆（） のみ使用可能です。",
                    data-val-regex-pattern = "^[\u3040-\u30FF|\u4E00-\u9FFF|０-９Ａ-Ｚａ-ｚ|－|―|ー|‐|ヽ|ヾ|ゝ|ゞ|〃|仝|々|〆|〇|　|＆|（|）]+$"
                    value="<%= address.building %>">
                <p class="field-error" data-valmsg-for="Address.Building" data-valmsg-replace="true"></p>
            </dd>
        </dl>
        <dl class="field required">
            <dt class="field-title">電話番号</dt>
            <dd class="field-body">
                <input type="tel" 
                    name="Address.Tel"
                    placeholder="例）09012345678"
                    maxlength="11"
                    size="11"
                    data-val="true"
                    data-val-required="電話番号は必須項目です。"
                    value="<%= address.tel %>">
                <p class="field-error" data-valmsg-for="Address.Tel" data-valmsg-replace="true"></p>
            </dd>
        </dl>
        <div class="block block-vertical">
            <% if(create) { %> 
                <!-- <button type="submit" class="btn btn-action btn-large" name="create" value="post">登録する</button> -->
                <a href="./?path=/story/pages-member-addresses--complete" class="btn btn-action btn-large">登録する</a>
            <% } else { %>
                <!-- <button type="submit" class="btn btn-action btn-large" name="update" value="post">変更する</button> -->
                <a href="./?path=/story/pages-member-addresses--complete" class="btn btn-action btn-large">変更する</a>

                <!-- <button type="submit" class="btn btn-danger btn-text" name="delete" value="post">削除する</button> -->
                <a href="./?path=/story/pages-member-addresses--complete" class="btn btn-danger btn-text">削除する</a>
            <% } %>
            <a href="./?path=/story/pages-member-addresses--index" class="btn btn-primary btn-text btn-prev">お届け先一覧へもどる</a>
        </div>
    </form>
</main>

<script id="mock_zipsearch_result" type="text/html">
    <div id="Address_szipsearch">
        <form action="@MemberZipSearch(addressId)" method="post">
            <!-- <button type="submit" class="btn btn-primary btn-ghost">選択</button> -->
            <a href="./?path=/story/pages-member-addresses--<%= create?'create':'edit'%>&args=zipSelected:!true" class="btn btn-primary btn-ghost">選択</a>
            〒 4980000 愛知県 弥富市 
            <input type="hidden" name="ZipCode" value="4980000">
            <input type="hidden" name="Pref" value="愛知県">
            <input type="hidden" name="City" value="弥富市">
            <input type="hidden" name="Street" value="">
            <input type="hidden" name="target" value="Address">
            <input type="hidden" name="zipsearchAction" value="zipsearch">
        </form>
        <form action="@MemberZipSearch(addressId)" method="post">
            <!-- <button type="submit" class="btn btn-primary btn-ghost">選択</button> -->
            <a href="./?path=/story/pages-member-addresses--<%= create?'create':'edit'%>&args=zipSelected:!true" class="btn btn-primary btn-ghost">選択</a>
            〒 4980000 三重県 桑名郡木曽岬町
            <input type="hidden" name="ZipCode" value="4980000">
            <input type="hidden" name="Pref" value="三重県">
            <input type="hidden" name="City" value="桑名郡木曽岬町">
            <input type="hidden" name="Street" value="">
            <input type="hidden" name="target" value="Address">
            <input type="hidden" name="zipsearchAction" value="zipsearch">
        </form>
    </div>
</script>