<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    @RenderMeta()
    <meta name="resource-prefix" content="@Href("~/")">
    <meta name="resource-suffix" content="@ViewBag.ResourceSuffix">
    <link rel="stylesheet" href="@Href("~/bundle/style.css" + ViewBag.ResourceSuffix)">
    @RenderParts("Head")
    @RenderJsonLD()
    @RenderDataLayer()
</head>

<body>
    @RenderParts("BodyTop")
    @RenderHeaderBanner()
    @RenderHeader()
    @RenderGlobalNav()
    @RenderBody()
    @RenderFooter()
    @RenderPreviewFooter()
    @*@Page.Template.MiniProfilerRenderIncludes()*@
    <script>
        (function(){
            const prefix = document.querySelector('meta[name="resource-prefix"]').content;
            const suffix = document.querySelector('meta[name="resource-suffix"]').content;
            const el = document.createElement('script');
            el.src = "//" + location.host + prefix + 'bundle/script.js' + suffix;
            document.body.appendChild(el);
        }())
    </script>
j.src=;
f.parentNode.insertBefore(j,f);})(document,'script');</script>
    @RenderSection("ScriptBlock", false)    
    @RenderParts("BodyBottom")
</body>
</html>