<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    @RenderMeta()
    <link rel="stylesheet" href="@Resolve("/bundle/style.css" + ViewBag.ResourceSuffix)">
    @RenderParts("Head")
    @RenderJsonLD()
    @RenderDataLayer()
</head>

<body>
    @RenderParts("BodyTop")
    @RenderHeaderBanner()
    @RenderHeader()
    @RenderGlobalNav()
    @RenderBody()
    @RenderFooter()
    @RenderPreviewFooter()
    @*@Page.Template.MiniProfilerRenderIncludes()*@
    <script src="@Resolve("/bundle/script.js" + ViewBag.ResourceSuffix)"></script>
    @RenderSection("ScriptBlock", false)
    @RenderParts("BodyBottom")
</body>
</html>