<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    @RenderMeta()
    <link rel="stylesheet" href="@Href("~/style.css" + ViewBag.ResourceSuffix)">
    @RenderParts("Head")
    @RenderJsonLD()
    @RenderDataLayer()
</head>

<body>
    @RenderParts("BodyTop")
    @RenderHeader()
    @RenderHeaderBanner()
    @RenderGlobalNav()
    @if (!string.IsNullOrEmpty(ViewBag.Hero as string)) {
        <div class="image image-hero">
            <img src="@ImageUrl(ViewBag.Hero)" alt="@ViewBag.Name" loading="lazy" decoding="async">
        </div>
    }
    <article class="article content">
        <h1 class="h-underline">@PrintTitleOrName(ViewBag.Title, ViewBag.Name)</h1>
        @if(ViewBag.PublishDate is DateTime publishDate) {
            <p class="text-right">
                <time class="topicDate" datetime="@publishDate.ToString("o")">@publishDate.ToString("yyyy-MM-dd")</time>
            </p>
        }
        @RenderBody()
    </article>
    @RenderFooter()
    @RenderPreviewFooter()
    @*@Page.Template.MiniProfilerRenderIncludes()*@
    <script src="@Href("~/script.js" + ViewBag.ResourceSuffix)"></script>
    @RenderCheckPoint()
    @RenderSection("ScriptBlock", false)
    @RenderParts("BodyBottom")
</body>
</html>