<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1; IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="@ViewBag.PageDescription">
    <meta name="x-root" content="@Href("~/")">
    <title>@(ViewBag.PageTitle) | @GetConfigValue("BRAND_NAME")</title>
    <link rel="stylesheet" href="@Href("~/style.css" + ViewBag.ResourceSuffix)">
    @RenderParts("Head")
    @RenderJsonLD()
    @RenderDataLayer()
</head>

<body>
    @RenderParts("BodyTop")
    @RenderHeader()
    @RenderHeaderBanner()
    @RenderGlobalNav()
    @if (!string.IsNullOrEmpty(ViewBag.Hero as string)) {
        <div class="image image-hero">
            <img src="@ImageUrl(ViewBag.Hero)" alt="@ViewBag.Name" loading="lazy" decoding="async">
        </div>
    }
    <article class="article content">
        <h1 class="h-underline">@PrintTitleOrName(ViewBag.Title, ViewBag.Name)</h1>
        @if(ViewBag.PublishDate is DateTime publishDate) {
            <p class="text-right">
                <time class="topicDate" datetime="@publishDate.ToString("o")">@publishDate.ToString("yyyy-MM-dd")</time>
            </p>
        }
        @RenderBody()
    </article>
    @RenderFooter()
    @RenderPreviewFooter()
    @Page.Template.MiniProfilerRenderIncludes()
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" integrity="sha512-EanukVTZc4W9tUCLnDl069Izidg49PcNRKO1upLzKt9ajq66i+bXOtlzXcIbRhb6vVEGF6BCc8wQi5T1ztCpTQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intercooler-js/1.2.3/intercooler.min.js" integrity="sha512-cGFWDjclOPdq15RV16krqIZNRnaXehJpgwtcX+VrIO+UgOsdg3mURsdN27Z9PWnov+f8mZSPZfx14R7w+rSYOw==" crossorigin="anonymous"></script>
    <script src="@Href("~/script.js" + ViewBag.ResourceSuffix)"></script>
    @RenderCheckPoint()
    @RenderSection("ScriptBlock", false)
    @RenderParts("BodyBottom")
</body>
</html>